/* LANDING PAGE */
.logo {
  width: 500px;
  padding: 10px;
}

.headerBg {
  background-color: white;
  opacity: 0.8;
}

/* Login Form CSS */
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}

/* MAIN PAGE */
.ActionButton {
  width: 260px;
}

.ActionButtonListless {
  width: 300px;
}

.ActionButtonIcon {
  width: 0px;
}

/* GESTIONAR CLIENTES */

.ListContainer {
  width: 400px;
}

.DatosList {
  width: 500px;
}

.DeleteSwalPos {
  z-index: 9000;
}

.DatosPagosContainer {
  height: 360px;
}

.scrollable-paylist {
  height: 300px;
  overflow: auto;
}

.ABMButtonLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* INGRESAR PRESUPUESTOS A CTA CLIENTE */
.totalIvaContainer {
  border-width: 2px;
}

/* INGRESAR CLIENTE */
.AddClientButton {
  width: 200px;
}

.AddPresupuestoButton {
  width: 220px;
}

.CreateModal {
  width: 60%;
  height: 80%;
}

.CUITs {
  width: 10%;
  margin-top: 15px;
}

.CUITl {
  width: 80%;
  margin-inline: 10px;
  margin-top: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MODIFICAR CLIENTE */

/* GESTIONAR MATERIALES */
.AddButton {
  width: 200px;
}

.MatListColumnXXL {
  width: 500px;
}

.MatListColumnXL {
  width: 300px;
}

.MatListColumnM {
  width: 200px;
}

.MatListColumnS {
  width: 150px;
}

.MatListModal {
  width: 80%;
  height: 80%;
}

.SelectedMaterialDetailColumn {
  width: 400px;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.SelectedMaterialDetailColumn p {
  margin: 0;
  padding: 0;
}

.ModifyFormLabel {
  width: 196px;
}

.TitleButtonLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
